.MuiButtonBase-root.MuiFab-root.MuiFab-circular.MuiFab-sizeLarge.MuiFab-primary,
.css-7dv1rb-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab {
    height: 30px;
    width: 30px;
    padding: 20px;
    background-color: red;
}
